.name-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    font-size: 2rem;
    font-weight: bolder;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
    color: rgba(21, 14, 14, 0.514);
  }
  
  .name-footer.visible {
    opacity: 1;
    transform: translateY(0);
  }
  