.about-box {
    width: 450px;
    padding: 30px;
    background: 255,255,255,0.25;
    border-radius: 15px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
    color: #222;
}

.about-box h2 {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.about-box p {
    line-height: 1.6;
    font-size: 1rem;
}

.about-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 80px;
}