<h1>
    Work that reflects an interest in both how software functions and how it feels to use
  </h1>
  
  <div class="projects-container">
    <div
      class="project-row"
      *ngFor="let project of projects | keyvalue; let i = index"
      (click)="toggleProject(i)"
      [class.open]="openIndex === i"
    >
      <div class="row-header">
        <span class="index">
          {{ i + 1 | number:'2.0' }}
        </span>
  
        <div class="title-stack">
          <h3>{{ project.value.title }}</h3>
          <div class="lang-bar">
            <div
            *ngFor="let lang of project.value.languages | keyvalue"
            class="lang-segment"
            [style.width.%]="lang.value"
            [class]="getLangClass(lang.key)"
            ></div>
          </div>
          <div class="lang-legend">
            <span *ngFor="let lang of project.value.languages | keyvalue">
              <i [class]="getLangClass(lang.key)"></i>
              {{ lang.key }} {{ lang.value }}%
            </span>
          </div>
          <ul class="tech-list">
            <li *ngFor="let t of project.value.tech">{{ t }}</li>
          </ul>
        </div>
  
        <span class="arrow">›</span>
      </div>
  
      <div class="row-content">
        <p>{{ project.value.description }}</p>
  
        <a
          class="github-button"
          [href]="project.value.github"
          target="_blank"
          rel="noopener"
        >
          View Code on GitHub →
          <lucide-icon [name]="GitHub"></lucide-icon>
        </a>
      </div>
    </div>
  </div>
  