h1{
  color: #111;
  opacity: 0.8;
  text-align: center;
}

.projects-container {
  max-width: 900px;
  margin: 0 auto;
  backdrop-filter: blur(4px);
}

.project-row {
  background: #fff;
  border-radius: 16px;
  padding: 1.5rem 2rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.project-row:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
}

.row-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.index {
  font-size: 3rem;
  font-weight: 300;
  color: #ddd;
  min-width: 60px;
}

.title-stack h3 {
  margin: 0;
  font-size: 1.2rem;
  color:#111;
  opacity: 0.8;
}

.tech-list {
  margin-top: 0.5rem;
}

.tech-list li {
  display: inline-block;
  background: #f1f1f1;
  border-radius: 999px;
  padding: 4px 10px;
  font-size: 0.75rem;
  margin-right: 6px;
}

.arrow {
  margin-left: auto;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
  color: var(--accent);
}

.project-row.open .arrow {
  transform: rotate(90deg);
}

.row-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.35s ease;
  padding-left: 90px;
}

.project-row.open {
  box-shadow: 0 12px 30px var(--accent-soft);
 
}

.project-row.open .index {
  color: var(--accent);
}


.project-row.open .row-content {
  max-height: 200px;
  opacity: 1;
  margin-top: 1rem;
}

.github-button {
  display: inline-block;
  margin-top: 0.75rem;
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
}

.github-button:hover{
  color:var(--accent);
}


  
