h1{
  color: #111;
  opacity: 0.9;
  text-align: center;
}

.projects-container {
  max-width: 900px;
  margin: 0 auto;
  backdrop-filter: blur(4px);
}

.project-row {
  background: #fff;
  border-radius: 16px;
  padding: 1.5rem 2rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.project-row:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
}

.project-row:hover .index{
  color:var(--accent);
}

.row-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.index {
  font-size: 3rem;
  font-weight: 300;
  color: #ddd;
  min-width: 60px;
}

.title-stack h3 {
  margin: 0;
  font-size: 1.5rem;
  color:#111;
  opacity: 0.8;
}

.lang-bar{
  display: flex;
  height: 3px;
  border-radius: 2px;
  overflow: hidden;
  margin: 0.35rem 0 0.25rem;
  background: #e5e7eb;
}

.lang-segment{
  height: 100%;
}

.lang-segment.typescript,
.lang-legend i.typescript {
  background: #3179c6ca;
}

.lang-segment.python,
.lang-legend i.python {
  background: #3179c6bd;
}

.lang-segment.javascript,
.lang-legend i.javascript {
  background: #f7de1eb8;
}

.lang-segment.html,
.lang-legend i.html {
  background: #e34c26b2;
}

.lang-segment.css,
.lang-legend i.css {
  background: rgba(84, 48, 117, 0.739);
}

.lang-legend {
  display: flex;
  gap: 1rem;
  font-size: 0.65rem;
  color: #444;
  margin-bottom: 0.25rem;
}

.lang-legend span {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  gap: 6px;
}

.lang-legend i {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
}

.project-row.open .lang-segment {
  animation: grow 0.6s ease;
}

@keyframes grow {
  from { width: 0; }
}


.tech-list {
  margin-top: 0.5rem;
}

.tech-list li {
  display: inline-block;
  background: rgba(0, 0, 0, 0.06);
  color: #111;
  border-radius: 999px;
  padding: 4px 10px;
  font-size: 0.75rem;
  margin-right: 6px;
}

.arrow {
  margin-left: auto;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
  color: var(--accent);
}

.project-row.open .arrow {
  transform: rotate(90deg);
}

.row-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.35s ease;
  padding-left: 90px;
}

.project-row.open {
  box-shadow: 0 12px 30px var(--accent-soft);
 
}

.project-row.open .index {
  color: var(--accent);
}


.project-row.open .row-content {
  max-height: 200px;
  opacity: 1;
  margin-top: 1rem;
}

.github-button {
  display: inline-block;
  margin-top: 0.75rem;
  font-size: 0.9rem;
  font-weight: 300;
  color: #111;
  opacity: 0.8;
  text-decoration: none;
}

.github-button lucide-icon{
  color: #111;
  opacity: 0.8;
  
}

.github-button:hover lucide-icon{
  color: var(--accent);
}

.github-button:hover{
  color:var(--accent);
}


  
