<h1>Work that reflects an interest in both how software functions and how it feels to use</h1>
<div class="projects-container">
    <div class="project-card" 
        *ngFor="let project of projects | keyvalue" (click)="openProject(project)">
            <h3>{{ project.value.title }}</h3>
            <ul>
                <li *ngFor="let t of project.value.tech">{{ t }}</li>
            </ul>
    </div>
</div>

<div class="modal-backdrop" *ngIf="selectedProject">
    <div class="modal">
        <button class="close" (click)="closeProject()">close</button>

        <h2>{{ selectedProject.value.title }}</h2>
        <p>{{ selectedProject.value.description }}</p>
     
        <a
        class="github-button"
        [href]="selectedProject.value.github"
        target="_blank"
        rel="noopener">View Code on Github</a>
    </div>
</div>