.projects-container {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(280px, 1fr));
    gap: 30px;
    padding: 20px;
    justify-content: center;
    width: auto;
}

.projects-container h1 {
    opacity: 0.8;
    text-align: center;
}

.project-card {
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 20px;
    max-width:1100px;
    text-align: center;
    cursor: pointer;
    transform: transform 0.25s, box-shadow 0.25s;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.project-card li {
    display: inline-block;
    background: rgba(0,0,0,0.7);
    opacity: 0.8;
    color: white;
    padding: 4px 10px;
    border-radius: 12px;
    margin: 5px;
    font-size: 0.8rem;
}

.project-card li:hover {
    background-color: darkslateblue;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.208);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: rgba(0, 0, 0, 0.182);
    border-color: rgba(255,255,255,0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.774);
    color: white;
    backdrop-filter: blur(12px);
    padding: 32px;
    border-radius: 20px;
    max-width: 500px;
    width: 90%;
    height: 22%;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 1rem;
    opacity: 0.7;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .github-btn {
    display: inline-block;
    color: darkslateblue;
    margin-top: 30px;
    text-decoration: none;
    font-weight: 500;
  }