.projects-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto repeat(3, minmax(200px,auto));
    gap: 1.5rem;
}

h1 {
    opacity: 0.8;
    text-align: center;
    place-self: center;
}

.project-card {
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    justify-self: stretch;
    cursor: pointer;
}

.project-card:nth-child(1),
.project-card:nth-child(2){
    padding-top: 80px;
    padding-bottom: 80px;
    box-shadow: 0 10px 25px pink;
    grid-column: 1;
}

.project-card:nth-child(1){
    grid-row: 2 / span 2;
}
.project-card:nth-child(2){
    grid-row: 4;
}
.project-card:nth-child(3){
    grid-row: 2;
}
.project-card:nth-child(4){
    grid-row: 3;
}
.project-card:nth-child(5){
    grid-row: 4;
}

.project-card:nth-child(3),
.project-card:nth-child(4),
.project-card:nth-child(5){
    padding-top: 80px;
    padding-bottom: 80px;
    box-shadow: 0 10px 25px blue;
    grid-column: 2;
}

.project-card:hover {
    transform: translateY(-6px);
 
}

.project-card li {
    display: inline-block;
    background: gray;
    opacity: 0.8;
    color: white;
    padding: 4px 10px;
    border-radius: 12px;
    margin: 5px;
    font-size: 0.8rem;
}



  
