.contact-page {
    padding: 6rem 1.5rem;
}

.contact-header{
    text-align: center;
    max-width: 700px;
    margin: 0 auto 4rem;
    backdrop-filter: blur(4px);
}

.contact-header h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #111;
    backdrop-filter: blur(10px);
}

.contact-header p {
    font-size: 1.1rem;
    color: #111;
    font-weight: 500;
    opacity: 0.8;
    
}

.contact-left{
    backdrop-filter: blur(4px);
    max-height: fit-content;
}

.contact-left .description{
    color: #111;
    font-weight: 400;
    opacity: 0.8;
}

.contact-left h2 {
    color: #111;
}

.contact-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

@media(max-width: 900px) {
    .contact-wrapper {
        grid-template-columns: 1fr;
    }
}

.contact-card {
    width: 515px;
    padding-bottom: 80px;
}

h2 {
    margin-bottom: 10px;
}

h3{
    text-align: left;
    color: #111;
    backdrop-filter: blur(4px);
}

p {
    margin-bottom: 20px;
}

.contact-item p {
    color: #111;
    opacity: 0.8;
}

.contact-item strong {
    color: #111;
}

.contact-item lucide-icon {
    width: 44px;
    height: 44px;
    border-radius: 12px;
    display: grid;
    place-items: center;
    color: #111;
    opacity: 0.8;
    background: whitesmoke;
}

input, textarea {
    width: 95%;
    padding: 12px;
    margin-bottom: 1px;
    border-radius: 10px;
    border-color: lightgray;
    border-style:solid;
    border-width: 1px;
    font-size: 1rem;
    color: whitesmoke;
    opacity: 0.9;
}

input::placeholder, textarea::placeholder {
    color: #111;
    opacity: 0.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background: darkslateblue;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 14px;
    border: none;
    color: white;
    font-size: 1rem;
    display: flex;
    place-self: center;
    gap: 1rem;
    font-size: 1.1rem;
}

button lucide-icon{
    width: 19px;
    height: 19px;
    align-items: center;
    display: flex;
    
}

button:hover:not([disabled]) {
    transform: translateY(-3px);
    opacity: 1;
    background: darkslateblue;
}

button[disabled] {
    cursor: not-allowed;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 18px;
    gap: 20px;
    backdrop-filter: blur(4px);
}

.socials a {
    width: 44px;
    height: 44px;
    border-radius: 12px;
    display: grid;
    place-items: center;
    color: #111;
    opacity: 0.8;
    background: whitesmoke;
    transition: all 0.2s ease;
}

.socials a:hover {
    transform: translateY(-2px);
    color: lightgray;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lightgray;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: lightgray;
    padding:  25px 40px;
    border-radius: 15px;
    text-align: center;
    max-width: 350px;
}

.modal-content button {
    margin-top: 15px;
    width: 100%;
}