html {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
     
    justify-content: space-between;
    background: linear-gradient(180deg, white, darkgray);
}

section{
    min-height: 100vh;
    padding: 80px 20px;
}