.home {
  
}
  
  
.footer-name {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    color: black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
